:root { 
  font-size: 16px; 
  // text-underline-position: under;
  }

  html {
    scroll-behavior: smooth;
}
html, body {
  background: $color-cream;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body, 
#__nuxt, 
#__layout, 
.body {
  height: 100%;
  min-height: 100%;
}

* {
    box-sizing: inherit;
}

a.anchor {
    display: block;
    position: relative;
    top: -180px;
    visibility: hidden;
}

p {
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
}

ol {
  margin: inherit;
}
