:root { 
  font-size: 16px; 
  // text-underline-position: under;
  }

html:focus-within {
  scroll-behavior: smooth;
}
html, body {
  background: $color-cream;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body, 
#__nuxt, 
#__layout, 
.body {
  height: 100%;
  min-height: 100%;
}

* {
    box-sizing: inherit;
}

a.anchor {
    display: block;
    position: relative;
    top: -180px;
    visibility: hidden;
}

p {
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
}

ol {
  margin: inherit;
}

.sr-only {
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
