
/* -- Nimbus Sans -- */
@import url("https://fontlibrary.org/face/nimbus-sans-l");

/* -- Google Font (Arabic) -- */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@900&display=swap');

/* General Typography */

body {
  font-family: $font-stack-reg;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: $font-stack-bold;
  margin-top:0;
  font-size: 3rem;
  font-size: calc(2rem + 1.5vw);
  letter-spacing: -0.04em;
}

h2 {
  font-family: $font-stack-bold;
  margin-top: 1rem;
  line-height: 1em;
  font-size: 2rem;
  font-size: calc(1rem + 1vw);
  letter-spacing: -0.01em;  
}
h3 {
  font-family: $font-stack-bold;
  margin-top:1rem;
  font-size: 1rem;
  letter-spacing: 0.01em;
}

a.lang {
  font-size: 0.75rem;
  text-decoration: none !important;
  display: inline-block;

  &:hover{
    text-decoration: underline;
    &::after {
      color:$color-cream;
    }
  }
  &::after {
    content: '|';
    display:inline-block;
    padding-right: 0.5rem;
    padding-left:0.5rem;
  }

  &:last-of-type {
    &::after {
      content: none;
    }
  }

  &.ara {
    /* switch separator side for right-to-left link */
    &::after {
      content:none;
    }
    &::before {
      content: '|';
      display:inline-block;
      padding-right: 0.5rem;
      padding-left:0.5rem;
    }

  }

}

.small-print {
  font-size: 0.85rem;
}


/* -- Language specific -- */

.lang {
  &__title{
    margin-top:3rem;
    font-size: 0.75rem;
  }
  &__menu {
    line-height: 1rem;
  }
}


bdo[dir="rtl"] {
  direction: rtl !important;
  unicode-bidi: bidi-override !important;
}
.ara {
   font-family: 'Cairo', sans-serif;
    direction: rtl !important;
   unicode-bidi: bidi-override !important;
}
