.btn-primary {

  display: inline-block;
  cursor: pointer;
  margin: 2rem 0 0;

  /* font */
  color: $color-darkgrey;
  font-weight: 600;
  font-style: normal;
  a {
    text-decoration: none !important;

    &:hover {
      text-decoration: none !important;
      color: $color-darkgrey;
    }
  }
  /* remove underline */
  text-decoration: none;

  /* border */
  border-radius: 5px;

  /* transitions */
  transition: all 100ms ease-in;

  /* other */
  background-color: $color-red;
  padding: 0.75rem 2rem;



  &:hover {
    cursor: pointer;
    color: $color-darkgrey;
    background-color: $color-red--darker;
    /* transitions */
    transition: all 250ms ease-in;

  }
}
