.overline::before {
  content: '';
  position: absolute;
  width: calc(100% - 2rem);
  height: 3px;
  top: 0;
  left: 1rem;
}



.light .overline::before {
    background-color: $color-darkgrey;
}
.dark .overline::before {
    background-color: $color-cream;
}

.border-top {
  margin-top: 2rem;
  padding-top: 1rem;
}
.light .border-top {
  border-top: 2px solid $color-darkgrey;
}

.dark .border-top {
  border-top: 2px solid $color-cream;


}