/* // Hide standard nav for mobile */
.header__nav-desktop {
  display: none;
}

.header {
/*   // hide checkbox */
  &__nav-checkbox {
    display: none;
  }

 /*  // hamburger button */
  &__nav-toggle {
    height: 2rem;
    width: 2rem;
    padding: 0;
    background: none;
    display: inline-block;
    position:absolute;
    right: 1rem;
    margin: auto 0;
    z-index: 9999;
    border: none;

    /* // hamburger icon */
    span {
      margin: 0;
      padding: 0;
    }

    span,
    span::before,
    span::after {
      display: block;
      background-color: $color-cream;
      height: 2px;
      width: 2em;
      border-radius: 2px;
      position: relative;
      transition: background-color 300ms ease-in-out;
    }
    span::before,
    span::after {
      content: '';
      position: absolute;
    }
    span::before{
      top: 7px;
      transform:  translate(0) scaleX(1) rotate(0);

    }
    span::after{
      bottom: 7px;
      transform:   translate(0) scaleX(1) rotate(0);

    }

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: 2px solid;
    }

    &.active{
        span,
        span::before,
        span::after {
          background-color: $color-darkgrey;
          transition: background-color 400ms ease-in-out;
        }

        span::before {
          transform-origin: right;
          transform:  translateX(6px) rotate(-45deg) translateY(-10px) scaleX(0.25);
        }
        span::after {
          transform-origin: right;

          transform:  translateX(6px) rotate(45deg) translateY(10px) scaleX(0.25);
        }

    }
  }

}

/* // Large screens */
@media only screen and (min-width: $bp-large) {
  .header__nav-toggle__label,
  .header__nav-toggle,
  .header__nav-mobile {
    display: none;
  }

  .header__nav-desktop {
    color: $color-cream;
    display: block;
    z-index: 999;

    transition: transform 400ms ease-in-out;

    width: 100%;


    ul {
      padding: 0;
      list-style: none;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 0;
    }

    li {
      display: inline;

    }

    a {
      color: $color-cream;
      transition: color 250ms ease-in-out;
      position: relative;
      text-decoration: none;

      &::before {
        content: '';
        height: 1px;
        position: absolute;
        width: 100%;

        background-color: rgba($color-cream,0);
        transform: scaleX(0);
        transition: all 250ms ease-in-out 0s;
        bottom:-0.3rem;
      }

      &:hover {

        &::before {
          background-color: rgba($color-cream,1);
          transform: scaleX(1);
          transition: all 250ms ease-in-out;
        }

      }
    }
  }
}
