.section {
  width: auto;
  padding: 25vh 0;
  position: relative;
  display:block;

  // &--full {
  //   // min-height: 100%;
  // }
  &--homepage {
    padding-top: 20rem !important;
  }
  & > div {
    z-index: 1;
  }
}


.heading {
  margin-bottom: 3rem;
  grid-column: span 1;

  h1,h2 {
    margin-top: 0;
  }

  &--left{
    grid-column: 1 / span 1;
    padding-right: 1rem;
  }
  &--right{
    grid-column: 2 / -1;
  }
  &--full{
    grid-column: 1 / -1;
  }
  &--dark {
    color: $color-darkgrey;
  }
}

.page-content {
  z-index: 1;
}

.content {
  &--full {
    grid-column: 1 / -1;
  }
  &--left {
    grid-column: 1 / span 1;
  }
  &--right {
    grid-column: 2 / span 1;
  }
  .content--scrollx{
    overflow-x: hidden;
  }
}
